@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.main {
  font-weight: 600;

  header {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    letter-spacing: -0.018em;
  }
}
